[submodule "submodules/all-the-icons-dired"]
	path = submodules/all-the-icons-dired
	url = git@github.com:jtbm37/all-the-icons-dired.git
[submodule "submodules/all-the-icons-ivy"]
	path = submodules/all-the-icons-ivy
	url = git@github.com:asok/all-the-icons-ivy.git
